.note-card {
  box-sizing: border-box;
  height: 360px;
  width: 320px;
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  cursor: pointer;
  overflow: auto;
  overflow-wrap: break-word;
  -webkit-box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.28);
  box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.28);
}
