@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e7f2fe;
  padding: 64px;
  box-sizing: border-box;
}


button {
  background-color: #119bf2;
  color: white;
  padding: 16px 32px;
  border-radius: 8px;
}