.note-details {
  height: calc(100vh - 64px * 2);

  &__header {
    width: 100%;
    display: flex;
    margin-bottom: 40px;

    button {
      background-color: #119bf2;
      color: white;
      padding: 16px 32px;
      border-radius: 32px;
      margin-left: auto;
    }
  }

  textarea {
    resize: none;
    width: 100%;
    height: calc(100% - 32px - 40px);
    padding: 16px;
    border-radius: 8px;
  }
}
