.note-details {
  height: calc(100vh - 64px * 2);

  &__header {
    width: 100%;
    display: flex;
    margin-bottom: 40px;

    button {
      margin-left: auto;
    }
  }

  &__mentioned-users {
    &-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &-item {
      background-color: white;
      padding: 4px 8px;
      margin: 4px 8px;
      border-radius: 4px;
      height: fit-content;
      -webkit-box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.12);
      -moz-box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.12);
      box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.12);
      align-items: center;
      display: flex;
    }
  }

  .status-tag {
    padding: 2px;
    margin-top: 4px;
    border-radius: 8px;
    text-align: center;

    &.success {
      background-color: #6ca90b;
      color: white;
    }

    &.updating {
      background-color: #f4e040;
      color: white;
    }

    &.error {
      background-color: #a90b1d;
      color: white;
    }
  }



  textarea {
    resize: none;
    width: 100%;
    height: calc(100% - 32px - 40px);
    padding: 16px;
    border-radius: 8px;
  }
}
